
@font-face {
    font-family: 'Comfortaa';
    src: 'fonts/Comfortaa_Regular.ttf'; /*URL to font*/
}

html {
  overflow-y: scroll;
}

body{
    font-family: 'Comfortaa';
    margin:0;
    padding:0;
}

h1{
    /* margin-left: 20px; */
    margin-top: 40px;
    padding-bottom: 30px;
}

h2{
    padding:0;
    margin:0;
    word-wrap: break-word;
}

div#content{
    width:75%;
    float:right;
    margin-left: 2%;
    margin-right: 2%;
}

div#menu{
    position: fixed;
    float:left;
    width: 20%;
    height: 100%;
    padding-top:40px;
    background-color: #2F2F2F;
}

div#browseLeftPane{
    margin-top : 20px;
    padding-top : 20px;
    min-height : 100px;
}

div#languagePanel{
    float:left;
    width: 300px;
    text-align: center;
    overflow: hidden;
}

select {
    width:300px;
    color: black;
    background: #F3F3F3;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    -webkit-appearance: none;
}

div#namePanel{
    float:left;
    width: 40%;
    text-align: center;
}

div#codePanel{
    width:100%;
    height: 100px;
    margin-top: 10px;
}

div#loginWindow{
    width:400px;
    margin: 30px auto;
    padding: 20px 20px ;
    border: solid 3px;
    border-color: gray;
    border-radius: 5px;
}

div#registerWindow{
    width:400px;
    margin:  auto;
    padding: 20px 20px ;
    border: solid 3px;
    border-color: gray;
    border-radius: 5px;
}

div#installWindow{
    width:400px;
    text-align: center;
    margin:  100px auto;
    padding: 20px 20px ;
    border: solid 3px;
    border-color: #2ecc71;
}

div#newSnippet{
    width: 80%;
    margin:  30px 20px;
    margin-left: 0px;
    padding: 20px 20px ;
    border: solid 3px;
    border-color: gray;
}

input{
    font-family: Arial;
    font-size: 12px;
}

textarea{
    font-family: Arial;
    font-size: 12px;
}

input.login{
    border-color:  #999999;
    box-shadow: none;
    /*border-radius: 5px;*/
}



input.searchBox{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;
    margin: auto 0;
    height: 30px;
    text-decoration: bold;
    border-style: none;
    border-width: 2px;
}



input.installButton{
    top: 20px;
    left:200px;
    width: 100px;
    height: 50px;
    box-shadow: none;
    border-style: none;
    background-color: #2ecc71;
    color: white;
}

input.installButton:hover{
    background-color: #27ae60;
}

button.homeButton{
    position:relative;
    width: 100px;
    height: 50px;
    box-shadow: none;
    border-style: none;
    background-color: #F3F3F3;
    color: black;
}


input.loginButton{
    position:relative;
    top: 20px;
    left:200px;
    width: 100px;
    height: 50px;
    box-shadow: none;
    border-style: none;
    background-color: #F3F3F3;
    color: black;
}

input.loginButton:hover{
    color: white;
    background-color: #999999;
}

a{
    color: black;
    text-decoration: none;
}

a.deleteButton{
    display: inline-block;
    width: 100px;
    height: 20px;
    box-shadow: none;
    border-style: none;
    background-color: #e74c3c;
    color: white;
    padding-top: 4px;
    text-align: center;
}

a.deleteButton:hover{
    background-color: #c0392b;
}



a.greenButton{
    display: inline-block;
    width: 100px;
    height: 20px;
    box-shadow: none;
    border-style: none;
    background-color: rgb(78, 173, 62);
    color: white;
    padding-top: 4px;
    text-align: center;
}
a.greenButton:hover{
    background-color: rgb(23, 139, 41);
}



a.editButton{
    display: inline-block;
    width: 100px;
    height: 20px;
    box-shadow: none;
    border-style: none;
    background-color: #3498db;
    color: white;
    padding-top: 4px;
    text-align: center;
}

a.editButton:hover{
    background-color: #2980b9;
}


a.addButton{
    display: inline-block;
    width: 100px;
    height: 20px;
    box-shadow: none;
    border-style: none;
    background-color: green;
    color: white;
    padding-top: 4px;
    text-align: center;
}

a.button{
    display: inline-block;
    padding-top: 30px;
    width: 100%;
    height:40px;
    color:black;
    border-style: none;
    margin-top: 5px;
    background-color: #F3F3F3;
    text-align: center;
}

a.button:hover{
    color: white;
    background-color: #999999;
}



a.admin_button{
    display: inline-block;
    padding-top: 30px;
    width: 100%;
    height:40px;
    color:black;
    border-style: none;
    margin-top: 5px;
    background-color: #F3F3F3;
    text-align: center;
    background-image: url("../images/lockFlat.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50px 50px;
}

a.admin_button:hover{
    color: white;
    background-color: #999999;
}



a.green_button{
    display: inline-block;
    padding-top: 30px;
    width: 100%;
    height:40px;
    color:white;
    border-style: none;
    margin-top: 5px;
    background-color:rgb(78, 173, 62) ;
    text-align: center;
}
a.green_button:hover{
    color: white;
    background-color:rgb(23, 139, 41) ;
}

a.rssButton{
    display: inline-block;
    padding-top: 40px;
    width: 100%;
    height:60px;
    color:white;
    border-style: none;
    margin-top: 5px;
    background-color: #e67e22;
    text-align: center;
}

a.rssButton:hover{
    background-color:#d35400 ;
}

a.logoutButton{
    display: inline-block;
    padding-top: 30px;
    width: 100%;
    height:40px;
    color:white;
    border-style: none;
    margin-top: 5px;
    background-color: #e74c3c;
    text-align: center;
}

a.logoutButton:hover{
    background-color: #c0392b;
}



hr{
    width:100%;
    float:right;
    height:5px;
    background-color:black;
    /*border-radius:20px;*/
    border-color:black;
    border-style:none;
}


@media (max-width: 799px) {
    div#content{
        width:95%;
        display:inline;
        float:left;
    }

    div#menu{
        position:static;
        background-color: green;
        float:left;
        width:100%;
        height:600px;
    }

    div#browseLeftPane{
        margin-top: 20px;
        padding-top: 20px;
        min-height:100px;
    }

    div#languagePanel{
        width:100%;
    }

    div#namePanel{
        width:100%;
        clear:left;
        padding-top: 30px;
    }

    div#codePanel{
        padding-top: 40px;
        width:100%;
        height: 100%;
        float:right;
    }
}










.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

/*.rating-star {
    cursor: pointer;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/samples/star-rating/star.png') 0 -16px;
}

.rating-star:hover {
    background-position: 0 0;
}*/






.rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/star.png') 0 -16px;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star {
    background-position: 0 0;
}
